Source: range-asterisk-config
Section: comm
Priority: optional
Maintainer: Range Networks, Inc. <info@rangenetworks.com>
Homepage: http://www.rangenetworks.com/
Build-Depends: build-essential, debhelper (>= 7)
Standards-Version: 3.7.3


Package: range-asterisk-config
Version: C3.1TRUNK
Section: comm
Priority: optional
Architecture: any
Essential: no
#Depends: asterisk, asterisk-config
Replaces: asterisk-config (<< 1:10.9.0)
#Breaks: asterisk-config (<< 1:10.9.0)
Description: OpenBTS Commercial software.
