#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Never distribute source control meta information
export DH_ALWAYS_EXCLUDE=.svn:.git

# This has to be exported to make some magic below work.
export DH_OPTIONS

#!/usr/bin/make -f
clean::
	dh_testdir
	dh_clean
	rm -rf debian/tmp 

install: 
	mkdir -p debian/tmp/etc/asterisk/
	mkdir -p debian/tmp/var/lib/asterisk/sounds/en/
	cp *.conf debian/tmp/etc/asterisk/
	cp en/*.gsm debian/tmp/var/lib/asterisk/sounds/en/
	cp *.ini debian/tmp/etc/

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:
	# nothing to do

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
